
$navbar-height: 60px;

$text-color: #3C3C3C;
$background-color: #ffffff;
$main-color: #303F72;
$footer-color: #0A142F;

$navbar-color: #303F72;
$active-link-color: #C3CBF3;
$join-now-color: #FD8900;
$only-text-color: #FB5E5E;
$highlight-color: #564A87;
$disable-color: #E7E5E5;

$font-size: 62.5%;
$text-font: 'Baloo Da 2', sans-serif;
$text-size: 16px;
$title-size: 21px;
$sub-title-size: 18px;