.activity{
  .activity-intro{
    margin-top: $navbar-height;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    .activity-intro__bg{
      &::after{
        $bg-home: '../img/activity/bg-activity.png';
        content: "";
        background: url($bg-home) no-repeat center center;
        background-size: cover;
        width: 95%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        transform: translateX(-50%);
      }
    }

    .activity-intro__header{
      position: absolute;
      top: 30%;
      .activity-intro__title{
        letter-spacing: 6px;
        color: $background-color;
        font-weight: bolder;
        text-transform: uppercase;
        text-shadow: 6px 0 $main-color, -6px 0 $main-color, 0 6px $main-color, 0 -6px $main-color,
        4px 4px $main-color, -4px -4px $main-color, 4px -4px $main-color, -4px 4px $main-color;
      }
    }
  }

  .activity-menu{
    transform: translateY(calc(-50% + 40px));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .activity-menu__list{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .activity-menu__item{
        cursor: pointer;
        padding: 30px 20px;
        background-color: $background-color;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        transition: transform ease-in-out 0.3s;
        .activity-menu__logo{
          width: 250px;
          height: 200px;
          .activity-menu__img{
            border-radius: 10px;
            border: 4px solid $disable-color;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .activity-menu__para{
          display: block;
          text-align: center;
          margin-top: 25px;
          font-size: $text-size;
          font-weight: bold;
          color: $main-color;
        }

        &:hover{
          transform: scale(1.1);
        }
      }
    }

    .activity-menu__border{
      height: 80px;
      border-bottom: 4px solid $disable-color;
    }
  }

  .activity-local{
    transform: translateY(-50px);
    .activity-local__header{
      text-align: center;
      margin-bottom: 20px;
      .activity-local__title{
        color: $main-color;
        font-weight: bold;
      }
    }

    .activity-local__text{
      text-align: center;
      .activity-local__para{
        color: $main-color;
      }
    }

    .activity-local__first{
      margin-top: 80px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .activity-local__logo--outer{
        display: flex;
        justify-content: center;
        .activity-local__logo{
          transform: rotate(-10deg);
          border: 10px dashed $join-now-color;
          width: 333px;
          height: 333px;
          .activity-local__frame{
            border: 20px solid $join-now-color;
            width: 100%;
            height: 100%;
            .activity-local__img{
              padding: 20px;
              width: 100%;
              height: 100%;
              border-radius: 30px;
              object-fit: cover;
            }
          }
        }
      }

      .activity-local__text{
        padding-right: 100px;
        .activity-local__text-title{
          font-weight: bold;
          color: $main-color;
          text-transform: uppercase;
        }

        .activity-local__text-para{
          text-align: justify;
          line-height: 1.8rem;
        }
      }
    }
  }
}