.home{
  .home-new{
    height: 700px;
    position: relative;
    overflow: hidden;
    .home-new__bg{
      width: 40%;
      &::after{
        $bg-home: '../img/home/bg-home-2.png';
        content: "";
        background: url($bg-home) no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      &::before{
        $leader-img: '../img/leader/tiendat.png';
        content: "";
        background: url($leader-img) no-repeat bottom;
        background-size: cover;
        width: 40%;
        height: 100%;
        position: absolute;
        bottom: -18px;
        right: 0;
        z-index: 2;
      }
    }

    .home-new__text{
      position: absolute;
      transform: translateY(50%);
      bottom: 50%;
      width: 50%;
      left: 3%;

      .home-new__title{
        letter-spacing: 8px;
        margin-bottom: 80px;
        color: $main-color;
        font-weight: bolder;
        text-transform: uppercase;
        text-shadow: 3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff,
        2px 2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
      }

      .home-new__para{
        line-height: 2rem;
        letter-spacing: 1px;
        font-weight: bold;
        color: $background-color;
        margin-bottom: 30px;
      }
    }
  }

  .home-intro{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .home-intro-left{

    }

    .home-intro-right{
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      height: auto;
      justify-content: center;
      .home-intro-right__text{
        width: 80%;
        height: 80%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        .home-intro-right__header{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 50px;
          .home-intro-right__title{
            color: $main-color;
            font-weight: bold;
          }
          .home-intro-right__sub-title{
            color: $highlight-color;
            font-weight: bold;
          }
        }
        .home-intro-right__para{
          text-align: left;
          letter-spacing: 1px;
          line-height: 2rem;
          font-weight: bold;
          margin-bottom: 50px;
        }
        .home-intro-right__btn{
          text-align: right;
        }
      }
    }
  }

  .home-activity{
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
    .home-activity-left{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .home-activity-left__text{
        width: 80%;
        .home-activity-left__header{
          text-align: center;
          color: $main-color;
          margin-bottom: 50px;
          .home-activity-left__title{
            font-weight: bold;
          }
        }
        .home-activity-left__para{
          letter-spacing: 1px;
          line-height: 2rem;
          font-weight: bold;
          margin-bottom: 50px;
        }
        .home-activity-left__btn{
          display: flex;
          justify-content: end;
        }
      }

    }

    .home-activity-right{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px;
      .home-activity-right__bg{
        height: 500px;
        &::after{
          $bg-activity: '../img/home/activity_circle.png';
          content: "";
          background: url($bg-activity) no-repeat center center;
          background-size: contain;
          width: 70%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .home-activity-right__img{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .home-activity-right__img-item-1{
          position: absolute;
          top: 0;
          right: 50px;
        }

        .home-activity-right__img-item-2{
          position: absolute;
          top: 50%;
          transform: translateY(60%);
        }

        .home-activity-right__img-item-3{
          position: absolute;
          top: 70px;
          left: 50px;
          transform: translateY(100%);
        }
      }
    }

  }

  .home-activity-more{
    margin-top: 60px;
    .home-activity-more__header{
      text-align: center;
      .home-activity-more__title{
        color: $main-color;
        font-weight: bold;
      }
    }

    .home-activity-more__list{
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .home-activity-more__img--overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        animation: fadeIn linear 0.3s;
        &:hover{
          display: block !important;
        }

        .home-activity-more__img--overlay-text{
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          .home-activity-more--overlay-para{
            color: $background-color;
            font-weight: bold;
          }
        }
      }

      .home-activity-more__img {
        border: 4px solid $main-color;
        border-radius: 10px;
        width: 400px;
        height: 350px;
        object-fit: cover;
        cursor: pointer;
        &:hover ~ .home-activity-more__img--overlay{
          display: block !important;
        }
      }
    }
  }

  .home-achieve{
    margin-top: 60px;
    .home-achieve__title{
      font-weight: bold;
      color: $main-color;
    }

    .home-achieve__list{
      margin-top: 40px;
      justify-content: space-around;

      .home-activity-more__img--overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        animation: fadeIn linear 0.3s;
        &:hover{
          display: block !important;
        }

        .home-activity-more__img--overlay-text{
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          .home-activity-more--overlay-para{
            color: $background-color;
            font-weight: bold;
          }
        }
      }

      .home-achieve__img{
        width: 400px;
        height: 350px;
        object-fit: cover;
        cursor: pointer;
        border: 4px solid $main-color;
        border-radius: 10px;
        animation: fadeIn linear 0.3s;

        &:hover ~ .home-activity-more__img--overlay{
          display: block !important;
        }
      }
    }
  }

  .home-quest{
    margin-top: 60px;
    .home-quest__title{
      color: $main-color;
      font-weight: bold;
    }

    .home-quest__list{
      margin-top: 40px;
      padding: 0;
      transition: transform ease-in-out 0.5s;
      .home-quest__item{
        .accordion-item{
          border: 3px solid $highlight-color;
          border-radius: 20px;
          overflow: hidden;
          margin-bottom: 16px;

          .accordion-button{
            $icon_msg: '../img/icon/icon-message.png';
            padding: 8px 30px;
            color: $highlight-color;
            font-weight: bold;
            font-size: $title-size;
            &::after{
              background-image: url($icon-msg);
            }
            &:not(.collapsed){
              background-color: $highlight-color;
              color: $background-color;
            }
          }

          .accordion-para{
            font-size: $sub-title-size;
            letter-spacing: 1px;
            line-height: 1.6rem;
            color: $highlight-color;
            font-weight: bold;
          }
        }
      }
    }

    .home-quest__slide{
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .home-quest__slide--stt{
        border-radius: 50%;
        margin: 0 5px;
        width: 15px;
        height: 15px;
        border: 2px solid $highlight-color;
      }

      .home-quest__slide-item{
        font-size: 50px;
        color: $highlight-color;
        padding: 0 20px;
        cursor: pointer;
      }
    }
  }

  .home-join{
    margin-top: 60px;
    height: 350px;
    display: flex;
    justify-content: center;
    .home-join--outer{
      position: relative;
      display: flex;
      align-items: center;
      width: 500px;
      height: 350px;
      border: 5px solid $highlight-color;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);

      .home-join__text{
        padding-left: 20px;
        z-index: 1;
        width: 70%;

        .home-join__title{
          font-weight: bold;
          color: #C6CEF6;
          letter-spacing: 1px;
          margin-bottom: 21px;
          text-shadow: 3px 0 $main-color, -3px 0 $main-color, 0 3px $main-color, 0 -3px $main-color,
          2px 2px $main-color, -2px -2px $main-color, 2px -2px $main-color, -2px 2px $main-color;
        }
      }

      .home-join__bg{
        width: 30%;
        &::after{
          $bg-leader: '../img/leader/tuongvy.png';
          content: "";
          background: url($bg-leader) no-repeat center center;
          background-size: contain;
          width: 70%;
          height: 100%;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}